/AndGate.class
/BasicGate.class
/Gate.class
/GateException.class
/NandGate.class
/NorGate.class
/NotGate.class
/OrGate.class
/SignalGate.class
/Gatetest1.class
/GateTest1.class
/GateTest2.class
/GateTeste3.class
/GateTest3.class
